.login-container{
	@include total-recipe();
	@include transparent-back();
	align-items: center;
	background-image: url("login-back.jpg");
	display: flex;
}

.login-section{
		margin-left: 10%;
		z-index: 2;
	@include lg{
	  align-items: center;
	  border-right: solid $panther;
	  display: flex;
	  height: 50%;
	  margin-left: 0;
	  position: relative;
	}
	&.signup{
		@include lg{
			border: none;
		}
	}
}

.login-form{
	@include lg{
		margin-left: 10%;
	  position: absolute;
	}
}

.login-marketing{
	h2{
		font-family: $secondary-font-family;
		font-weight: normal;
		text-align: center;
		margin: 0 auto;
		@include lg{
			font-size: 3rem;
		}
	}
	a{
  	border-bottom: .2rem solid transparent;
  	color: $panther;
		display: block;
		text-align: center;
  	&:hover{
  		border-bottom: .2rem solid $panther;
  	}		
  	@include lg{
  		font-size: 3rem;
  		margin-left: 25%;
  	}
	}
}

.login-field, .login-submit{
	margin-bottom: 2%;	
	@include lg{
		margin-left: 20%;
	}
	.login-label{
		color: $panther;
		font-family: $secondary-font-family;
		margin: 0;
		@include lg{
			font-size: 2rem;
		}
	}
	input[type=text],
	input[type=password], 
	input[type=email] {
		@include form-field();
	}
	input[type=submit]{
		@include form-button();
	}
	.remember-checkbox,
	.remember-label {
		display: inline-block;
		vertical-align: middle;
	}
	.remember-label{
		font-size: 1.2rem;
	}
	a{
		@include hover-dark();
	}
}