a{
	color: white;
	cursor: pointer;
	font-family: $primary-font-family;
	text-decoration: none;
	transition: all 1s;
}

img{
	max-width: 100%;
}

ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}

::-webkit-selection {
  color: white;
  background: rgba($panther, .7);
}

::-moz-selection {
  color: white;
  background: rgba($panther, .7);
}

::selection {
  color: white;
  background: rgba($panther, .7);
}

::-webkit-input-placeholder {
  color: rgba($panther, .4);
}