footer{
	background-color: $panther;
	width: $total_container;
	padding: 1rem;
}

.links{
	li{
		display: inline-block; 
		vertical-align: top;
		margin-right: 5rem;
	}
	ul{
		padding: 0;
		li{
			display: block;
			margin-left: 0;
			margin-right: 0;
		}
		a{
			font-size: 1rem;
			color: rgba(white, .6);
		}
	}
	a{
		display: block;
		text-decoration: none;
		font-size: 1.4rem;
		&:hover{
			text-decoration: none;
			color: white;
			transform: scale(1.1);
		}
	}
}