// ========== Fonts ==========
@font-face {
  font-family: 'myriadpro';
  src: url(font-path('MyriadPro-Regular.eot'));
  src: url(font-path('MyriadPro-Regular.eot')),
       url(font-path('MyriadPro-Regular.eot') + "?#iefix") format('embedded-opentype'),
       url(font-path('MyriadPro-Regular.woff2')) format('woff2'),
       url(font-path('MyriadPro-Regular.woff')) format('woff'),
       url(font-path('MyriadPro-Regular.ttf'))  format('truetype'),
       url(font-path('MyriadPro-Regular.svg') + "#myriadpro") format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'belacu';
  src: url(font-path('BELACU.eot'));
  src: url(font-path('BELACU.eot')),
       url(font-path('BELACU.eot') + "?#iefix") format('embedded-opentype'),
       url(font-path('BELACU.woff2')) format('woff2'),
       url(font-path('BELACU.woff')) format('woff'),
       url(font-path('BELACU.ttf'))  format('truetype'),
       url(font-path('BELACU.svg') + "#belacu") format('svg');
  font-weight: 700;
  font-style: normal;
}

$primary-font-family: Helvetica, Arial, sans-serif;
$secondary-font-family: 'myriadpro', Helvetica, sans-serif;
$third-font-family: 'belacu', Helvetica, sans-serif;
$medium-font-size: 0.75rem;
$small-font-size: 0.5rem;

// ========== Bourbon Breakpoints ==========
// FIXME: this really should eb converted to em instead of px
$xs-breakpoint: 320px;
$sm-breakpoint: 479px;
$md-breakpoint: 767px;
$lg-breakpoint: 991px;
$xl-breakpoint: 1200px;
// Extra Small Devices like tiny Phones
$xs: new-breakpoint(max-width $sm-breakpoint 3);
// Small Devices, Phones
$sm: new-breakpoint(min-width $sm-breakpoint + 1 max-width $md-breakpoint 4);
// Medium Devices, Tablets
$md: new-breakpoint(min-width $md-breakpoint + 1 max-width $lg-breakpoint 8);
// Large Devices, Desktops
$lg: new-breakpoint(min-width $lg-breakpoint + 1 max-width $xl-breakpoint 12);
// Extra Large Devices, Wide Screens
$xl: new-breakpoint(min-width $xl-breakpoint + 1 16);

$md-down: new-breakpoint(max-width $lg-breakpoint);
//For common style in all devices under 992px
$sm-down: new-breakpoint(max-width $md-breakpoint);
//For common style in all devices under 768px
$sm-up: new-breakpoint(min-width $md-breakpoint + 1);
//For common style in all devices starting in 768px
$md-up: new-breakpoint(min-width $lg-breakpoint + 1);
//For common style in desktop
$xs-up : new-breakpoint(min-width $xs-breakpoint);
//For common style in all devices

// ========== Colours ==========

$panther: #111820;

$total_container: 100%;
$big_container: 75%;
$medium_container: 50%;
$small_container: 25%;