p, a{
	color: white;
	text-decoration: none;
	transition: all 1s;
	font-family: $primary-font-family;
}

.header {
  background: $panther;
  width: $total_container;
  padding: 1rem;
  border-bottom: .7rem solid rgba(white, .4);
  display: flex;
  img{
  	max-width: 100%;
  }
}

.logo{
	display: flex;
	div{
		padding: 0;
	}
	p{
		margin-top: 3rem;
		margin-left: .5rem;
	}
}

.menu{
	margin-top: -1rem;
	display: flex;
	p{
		margin: 0 auto;
	}
	a{
		display: block;
		padding: .5rem;
	}
	a:hover{
		text-decoration: none;
		background: rgba(white, .4);

	}
}