%footer
	%div
		%ul
			%li 
				%a(href="#" title="How it Works?") Compañía
				%ul
					%li 
						%a(href="#" title="How it Works?") Sobre Nosotros
					%li
						%a(href="#" title="How it Works?") Noticias
			%li 
				%a(href="#" title="How it Works?") Términos y Condiciones
				%ul
					%li 
						%a(href="#" title="How it Works?") Políticas de Privacidad
			%li 
				%a(href="#" title="How it Works?") Contáctanos
				%ul
					%li 
						%a(href="#" title="How it Works?") ¿Preguntas?
					%li 
						%a(href="#" title="How it Works?") Nosotros te Respondemos